.header {
  z-index: 2;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header__container {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 16px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) and (max-width: 1110px) {
  .header__logo {
    order: 1;
  }
  .header__menu {
    order: 4;
    margin: 0 auto;
  }
  .header__search {
    order: 2;
  }
  .header__auth {
    order: 3;
  }
}
.header__logo {
  font-family: "Arial";
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bold;
  background: #2B2B2B;
  padding: 10px;
  max-height: 40px;
  border-radius: 8px;
}
@media (max-width: 1370px) {
  .header__logo {
    font-size: calc(16px + 4 * (100vw - 320px) / 1050);
  }
}
@media (max-width: 1370px) {
  .header__logo {
    padding: calc(8px + 2 * (100vw - 320px) / 1050);
  }
}
.header__search {
  position: relative;
}
.header__button {
  position: absolute;
  top: 6px;
  padding-left: 8px;
  background-color: transparent;
}
.header__button img {
  max-width: 100%;
}
.header__input {
  background: #222;
  border-radius: 4px;
  padding: 4px 8px;
  width: 299px;
  height: 32px;
  padding: 4px 8px 4px 44px;
  padding-left: 44px;
  color: #FFFFFF;
}
@media (max-width: 1370px) {
  .header__input {
    width: calc(180px + 119 * (100vw - 320px) / 1050);
  }
}
@media (max-width: 1370px) {
  .header__input {
    padding-left: calc(34px + 10 * (100vw - 320px) / 1050);
  }
}
.header__input::-moz-placeholder {
  font-weight: 500;
  color: #FFFFFF;
}
.header__input::placeholder {
  font-weight: 500;
  color: #FFFFFF;
}
.header__auth {
  display: flex;
  gap: 16px;
}
@media (max-width: 1370px) {
  .header__auth {
    gap: calc(12px + 4 * (100vw - 320px) / 1050);
  }
}
.header__signup {
  border-radius: 4px;
  padding: 8px 16px;
  padding-left: 16px;
  padding-right: 16px;
  background: #df2144;
  font-size: 16px;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1370px) {
  .header__signup {
    padding-left: calc(12px + 4 * (100vw - 320px) / 1050);
  }
}
@media (max-width: 1370px) {
  .header__signup {
    padding-right: calc(12px + 4 * (100vw - 320px) / 1050);
  }
}
@media (max-width: 1370px) {
  .header__signup {
    font-size: calc(14px + 2 * (100vw - 320px) / 1050);
  }
}
@media (any-hover: hover) {
  .header__signup:hover {
    background: rgba(223, 33, 68, 0.6352941176);
  }
}
.header__login {
  border-radius: 4px;
  padding: 8px 16px;
  padding-left: 16px;
  padding-right: 16px;
  background: #df2144;
  font-size: 16px;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1370px) {
  .header__login {
    padding-left: calc(12px + 4 * (100vw - 320px) / 1050);
  }
}
@media (max-width: 1370px) {
  .header__login {
    padding-right: calc(12px + 4 * (100vw - 320px) / 1050);
  }
}
@media (max-width: 1370px) {
  .header__login {
    font-size: calc(14px + 2 * (100vw - 320px) / 1050);
  }
}
@media (any-hover: hover) {
  .header__login:hover {
    background: rgba(223, 33, 68, 0.6352941176);
  }
}

@media (max-width: 455px) {
  .header__search, .header__auth {
    margin: 0 auto;
  }
}/*# sourceMappingURL=header.css.map */