@import '../../style/vars';

.ticket {
  &__purchase {}
}

.purchase-ticket {
  color: black;
  display: flex;
  flex-direction: column;
  &__close {
    align-self: flex-end;
    text-align: right;
    cursor: pointer;
    font-size: 25px;
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 10, 0, 1);
    }
  }

  &__title {
    @include adaptiv-value('font-size', 25, 18, 1);
    text-align: center;
    font-weight: 600;
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 25, 20, 1);
    }
  }

  &__date {
    @include adaptiv-value('font-size', 20, 16, 1);
    font-weight: 500;
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 15, 10, 1);
    }
  }

  &__time {
    @include adaptiv-value('font-size', 20, 16, 1);
    font-weight: 500;
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 20, 15, 1);
    }
  }

  &__button {
    align-self: center;
    border-radius: 4px;
    padding: 8px 16px;
    @include adaptiv-value('padding-left', 16, 12, 1);
    @include adaptiv-value('padding-right', 16, 12, 1);
    background: #df2144;
    @include adaptiv-value('font-size', 16, 14, 1);
    text-align: center;
    font-size: 20px;
    color: #fff;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background: #df2144c9;
      }
    }
  }
}