@import '../../style/vars';

.header {
  z-index: 2;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  &__container {
    display: flex;
    column-gap: 10px;
    row-gap: 16px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  @media (min-width: 768px) and (max-width: 1110px) {
    &__logo {
      order: 1;
    }
    &__menu {
      order: 4;
      margin: 0 auto;
    }
    &__search {
      order: 2;
    }
    &__auth {
      order: 3;
    }
  }

  &__logo {
    font-family: 'Arial';
    @include adaptiv-value('font-size', 20, 16, 1);
    color: #FFFFFF;
    font-weight: bold;
    background: #2B2B2B;
    @include adaptiv-value('padding', 10, 8, 1);
    max-height: 40px;
    border-radius: 8px;
  }

  &__search {
    position: relative;
  }

  &__button {
    position: absolute;
    top: 6px;
    padding-left: 8px;
    background-color: transparent;
    img {
      max-width: 100%;
    }
  }

  &__input {
    background: #222;
    border-radius: 4px;
    padding: 4px 8px;
    @include adaptiv-value('width', 299, 180, 1);
    height: 32px;
    padding: 4px 8px 4px 44px;
    @include adaptiv-value('padding-left', 44, 34, 1);
    color: #FFFFFF;
    &::placeholder {
      font-weight: 500;
      color: #FFFFFF;
    }
  }

  &__auth {
    display: flex;
    @include adaptiv-value('gap', 16, 12, 1);
  }

  &__signup {
    border-radius: 4px;
    padding: 8px 16px;
    @include adaptiv-value('padding-left', 16, 12, 1);
    @include adaptiv-value('padding-right', 16, 12, 1);
    background: #df2144;
    @include adaptiv-value('font-size', 16, 14, 1);
    text-align: center;
    color: #fff;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background: #df2144a2;
      }
    }
  }

  &__login {
    border-radius: 4px;
    padding: 8px 16px;
    @include adaptiv-value('padding-left', 16, 12, 1);
    @include adaptiv-value('padding-right', 16, 12, 1);
    background: #df2144;
    @include adaptiv-value('font-size', 16, 14, 1);
    text-align: center;
    color: #fff;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background: #df2144a2;
      }
    }
  }
}

@media (max-width: 455px) {
  .header {
    &__search,
    &__auth {
      margin: 0 auto;
    }
  }
}